<div class="row">
  <div class="col-12 col-md-3">
    <%= render partial: 'rooms' %>
  </div>
  <div class="col">
    <div class="alert alert-primary">
      <h4 class="alert-heading">
        Welcome to Chatterbox!
      </h4>
      <p>
        Create or join a room from the sidebar.
      </p>
    </div>
  </div>
</div>