$primary: hsl(125, 100%, 50%);

.avatar {
  max-height: 30px;
  border-radius: 15px;
  width: auto;
  vertical-align: middle;
}

.room-nav-link {
  border: 1px solid lighten($primary, 20%);
  background: lighten($primary, 35%);

  & + .room-nav-link {
    border-top: 0 none;
  }
}